streamlit
requests
pandas
firebase-admin
qrcode
fpdf
python-dotenv
gspread
google-auth
google-cloud-firestore
imgbbpy
plotly          # <--- Ampio ity
matplotlib      # <--- Ampio koa ity raha mampiasa azy ianao
python-binance
yfinance
ta
google-genai
reportlab
oauth2client
streamlit-autorefresh
openai
python-kaleido
